.Example {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px ;
}

.Example input,
.Example button {
  font-size: 13px;
  padding: 6px;
  background-color: black;
  color: white;
  border-radius: 100px;
  box-shadow: 10px;
}

.Example__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align to the left side */
  margin: 0;
}

.Example__container__document {
  width: 82%; /* Adjust the width as needed */
  max-width: calc(89% -2em);
  margin: 1em 0em;
  margin-left: 1em;
}

.Example__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Example__container__document .react-pdf__Page {
  margin: 1em 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.Example__container__document .react-pdf__message {
  padding: 20px;
  color: white;
}
.Example__container__document-wrapper {
  margin-right: auto; /* Push the PDF viewer to the left */
}
